/* TAG SELECTORS */

body {
  background-color: #dae1e7;
}
hr {
  border-color: black;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 20%;
}

p {
  color: black;
}

h1 {
  color: #183661;
}

h2 {
  color: #1c4b82;
}

h3 {
  color: black;
}

/* CLASS SELECTORS */

.cheese {
  background-color: green;
}

.shroom {
  background-color: black;
}

.dumpling {
  background-color: purple;
}

/* ID SELECTORS */
#myname {
  color: blue;
}

#me {
  border-radius: 100%;
}
